<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["Title"] - Website</title>

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>          
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Nate Palmer</a>
      </div>
      <div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul id="site-menu" class="nav navbar-nav">
            <menulink controller-name="Home" action-name="Index" menu-text="Home"></menulink>
            <menulink controller-name="Home" action-name="Contact" menu-text="Contact"></menulink>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="conatainer">
    @RenderBody()
  </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/site.js"></script>

  @RenderSection("scripts", required: false)
</body>
</html>
