@{
    ViewData["Title"] = "Contact";
}
<div>
    <h2>@ViewData["Title"]</h2>
    <h3>Keybase</h3>
    <a href="https://keybase.io/tympaniplayer"><img src="https://keybase.onlineth.com/tympaniplayer.png?theme=clean" width="210" height="58" alt="keybase.io profile for tympaniplayer"></a>
    <h3>Email:</h3>
    <email>palmern22@gmail.com</email>
    <h3>Github:</h3>
    <a href="https://github.com/tympaniplayer">tympaniplayer</a>
</div>
