@{
    ViewData["Title"] = "Nate Palmer";
}


<div>
  <h1>Hi, I'm Nate Palmer!</h1>
</div>

<p>
  I’m a software engineer at Configit, where I help customers solve Complex Configuration problems with Configit’s patented VT technology. 
  I have a passion for writing awesome software that makes people’s lives better. 
  I am all about learning new and old technologies. One day I am learning react-native, 
  and the next I could be learning about the Linux Kernel.
</p>

<p>
  Professionaly my technology stack is:
  <ul>
    <li>.NET (C#)</li>
    <li>ASP.NET (mvc and web api)</li>
    <li>Javascript (es2015, es2016, react, angular 1.x)</li>
    <li>git</li>
    <li>TeamCity Continuous Integration</li>
    <li>html &amp; css</li>
    <li>SQL (MSSQL Server)</li>
    <li>Powershell</li>
  </ul>
</p>

<p>
  I like to dabble in:
  <ul>
    <li>rust</li>
    <li>f#</li>
    <li>ios 10 development</li>
    <li>Linux</li>
    <li>C/C++</li>
  </ul>
</p>

